<div class="card ">

  <img style="width: 300px; height: 300px; " class="card-img-top mx-auto" src="https://image.tmdb.org/t/p/w500{{myMovie.poster_path}}" alt="Card image cap">

  <div class="card-header">Title: {{myMovie.title}}</div>

  <ul class="list-group list-group-flush">

    <li class="list-group-item">Adult content: {{myMovie.adult}}</li>

    <li class="list-group-item">Backcover Image:</li>

    <img style="width: 300px; height: 300px; " class="card-img-top mx-auto" src="https://image.tmdb.org/t/p/w500{{myMovie.backdrop_path}}" alt="Card image cap">

    <li class="list-group-item">Movie id: {{myMovie.id}}</li>

    <li class="list-group-item">Original language: {{myMovie.original_language}}</li>

    <li class="list-group-item">Original title: {{myMovie.original_title}}</li>

    <li class="list-group-item">Overview:{{myMovie.overview}}</li>

    <li class="list-group-item">Release date: {{myMovie.release_date}}</li>

    <li class="list-group-item">Average score: {{myMovie.vote_average}}</li>

    <li class="list-group-item">Number of votes: {{myMovie.vote_count}}</li>

  </ul>

</div>
