.card{

  margin: 0 auto;

  width: 35%;





}



li{

  background-color: black;

  color:wheat;

  border-bottom: 2px solid wheat ;

}



.card-header{

  background-color: black;

  color:wheat;

  border-bottom: 2px solid wheat ;

}
